@import url(https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext);

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.typr {
    width: 300px;
}

.has-error .typr {
    border-color: #a94442;
}
