.typr,
.typr * {
  box-sizing: border-box; }

.typr-el {
  position: absolute;
  left: -9999px;
  width: 0; }

.typr-suggestions {
  font-size: 13px;
  position: absolute;
  z-index: 10;
  padding: 0;
  max-height: 300px;
  overflow: auto;
  width: 100%;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }

.typr-suggestion,
.typr-more {
  padding: 4px 8px;
  cursor: pointer; }

.typr-more {
  text-align: center;
  color: #999;
  font-size: 85%; }

.typr-suggestion:hover {
  background: #ededed; }

.typr-selected {
  background: #ededed; }

.typr-input,
.typr-tag {
  box-sizing: border-box;
  display: inline-block;
  border: 0;
  outline: none;
  line-height: 20px;
  position: relative;
  background: transparent;
  max-width: 100%;
  padding: 1px 0; }

.typr-tag {
  background: #ededed;
  padding-left: 4px;
  padding-right: 24px;
  margin-right: 4px;
  position: relative; }
  .typr-tag:before, .typr-tag:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff; }
  .typr-tag:after {
    bottom: 0; }

.typr {
  position: relative;
  border: 1px solid #ccc;
  background: #fff;
  padding: 5px 6px 5px 6px; }

.typr-tag-close {
  display: block;
  width: 15px;
  height: 16px;
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 1;
  border-radius: 50%; }

.typr-tag-close:before {
  content: "\00d7";
  color: #3276b1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  display: block;
  font-weight: bold; }

.typr-autocomplete .typr-tags {
  display: none; }

.typr-select .typr-tag {
  padding-right: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  float: left; }
.typr-select.typr-has-value .typr-input {
  width: 0 !important; }

.typr-in-focus {
  border-color: #FF0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }

.typr-separator {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.typr .has-error {
  border-color: #a94442; }

.typr.disabled {
  background-color: #eee;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none; }

.typr.readonly {
  background-color: #eee; }

/*# sourceMappingURL=typr.css.map */
